form {
  background-color: rgb(235, 204, 204);
  padding: 10px 30px;
}

form div {
  margin: 20px 0;
}

form button {
  font-size: 16px;
  background-color: rgb(230, 48, 154);
  padding: 10px 20px;
}
